<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815879238665-6fhn06inu7aaqdln0spvqk1cf5nfktve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815879238665-6fhn06inu7aaqdln0spvqk1cf5nfktve</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>815879238665-tphs9s92c84c0voca35en87867prkm89.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQLk_6ggbon648AoEECJbJSaN3cIQf-94</string>
	<key>GCM_SENDER_ID</key>
	<string>815879238665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habitHarmony</string>
	<key>PROJECT_ID</key>
	<string>habit-harmony-a86e9</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-harmony-a86e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815879238665:ios:4cec2611e326a5de01b4d8</string>
</dict>
</plist>